<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link>
  </div> -->
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@font-face {
  font-family: "SegoeUI-Semibold";
  src: url("./assets/fonts/SegoeUI-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SegoeUI-Regular";
  src: url("./assets/fonts/SegoeUI.ttf") format("truetype");
}

body {
  margin: 0px;
  background: #f1f1f1;
  overflow: hidden;
  /* position: fixed; */
}

#app {
  margin: 0px;
  padding: 0px;
  font-family: "SegoeUI-Regular";
}
</style>
