@import "./variables";

@mixin inputDefault {
  font-family: "SegoeUI-Regular";
  font-size: 1.2em;
  background: $lightGray;
  color: #444444;
  outline: none;
  border-style: none;
  -webkit-appearance: none;
  border-radius: 7px;
  padding: 3px 10px 3px 0px;
}

@mixin hoverDefault {
  background: $lightGray;
  &:hover {
    background: $white;
  }
}

@mixin borderDefault {
  border-style: solid;
  border-color: #707070;
  border-width: 0.5px;
  border-radius: 7px;
}
