// bg color
$white: #ffffff;
$lightGray: #f8f8f8;
$midGray: #f1f1f1;

// font colors
$midBlack: #444444;
$darkBlack: #000000;

// borders
$borderRadiusDef: 7px;

// filters
$dropShadowDark: drop-shadow(3px 3px 3px #33333323);
$dropShadowLight: drop-shadow(3px 3px 3px #3333330c);
