<template>
  <div id="bodyMain">
    <EntryTitle />
    <CurrentDayEntries />
  </div>
</template>

<script>
import CurrentDayEntries from "@/components/CurrentDayEntries.vue";
import EntryTitle from "@/components/EntryTitle.vue";

export default {
  name: "Body",
  components: {
    CurrentDayEntries,
    EntryTitle,
  },
};
</script>

<style lang="scss"></style>
