<template>
  <div id="allDayEntries" class="mx-4 px-4 pt-3 pb-2">
    <div
      ref="allDayEntries"
      v-for="field in selectedEntryFields"
      :key="field._id"
    >
      <SingleSenseEntry id="singleSenseEntry" :currentEntry="field" />
    </div>
  </div>
</template>

<script>
import SingleSenseEntry from "./SingleSenseEntry.vue";

export default {
  name: "CurrentDayEntries",
  props: {
    fields: Array,
    entryId: String,
  },
  components: {
    SingleSenseEntry,
  },
  data() {
    return {
      entryAdded: [false],
      currentFields: this.fields,
    };
  },
  computed: {
    selectedEntryFields() {
      return this.$store.getters.getSelectedEntryFields;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

#allDayEntries {
  background: $gray-150;
  border-radius: $border-radius-lg;
  max-height: 60vh;
  overflow-y: scroll;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
}
</style>
