<template>
  <div class="d-flex align-items-center iconAndInput">
    <div id="calendarIconContainer" @click="hideIcon">
      <svg
        id="calendarIcon"
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="26.569"
        viewBox="0 0 25 26.569"
      >
        <g
          id="Rectangle_12"
          class="calendarIcon calendarNoText"
          data-name="Rectangle 12"
          transform="translate(0 2.569)"
          fill="none"
          stroke="#444"
          stroke-width="2"
        >
          <rect width="25" height="24" rx="3" stroke="none" />
          <rect x="1" y="1" width="23" height="22" rx="2" fill="none" />
        </g>
        <line
          id="Line_2"
          class="calendarIcon calendarNoText"
          data-name="Line 2"
          x2="24.472"
          transform="translate(0 8.652)"
          fill="none"
          stroke="#444"
          stroke-width="2"
        />
        <text
          id="_10"
          class="calendarIcon"
          data-name="10"
          transform="translate(12 21.569)"
          fill="#444"
          font-size="13"
          font-family="SegoeUI-Semibold, Segoe UI"
          font-weight="600"
        >
          <tspan x="-6.224" y="0">10</tspan>
        </text>
        <path
          id="Path_1"
          class="calendarIcon calendarNoText"
          data-name="Path 1"
          d="M0,0V5.244"
          transform="translate(6.555 0)"
          fill="none"
          stroke="#444"
          stroke-width="2"
        />
        <line
          id="Line_4"
          class="calendarIcon calendarNoText"
          data-name="Line 4"
          y2="5.244"
          transform="translate(18.791 0)"
          fill="none"
          stroke="#444"
          stroke-width="2"
        />
      </svg>
    </div>
    <DatePicker
      id="datePicker"
      v-model="date"
      color="gray"
      :masks="masks"
      :attributes="attrs"
      :available-dates="availableDates"
    >
      <template #default="{ inputValue, inputEvents }">
        <input
          id="dateInput"
          :value="inputValue"
          v-on="inputEvents"
          size="10"
        />
      </template>
    </DatePicker>
  </div>
</template>

<script>
import { DatePicker } from "v-calendar";
import {
  expandContractWidget,
  tryExpanding,
  tryContracting,
} from "./externalizedLogic";

export default {
  name: "Dates",
  components: {
    DatePicker,
  },
  data() {
    return {
      date: new Date(),
      masks: {
        weekdays: "WW",
      },
    };
  },
  methods: {
    createPopoverObject() {
      let popoverObject = null;
      this.currentEntries.forEach(() => {
        popoverObject.key = 0;
      });
    },
    hideIcon() {
      const element = document.getElementById("dateInput");
      if (element.classList.contains("expand")) {
        element.classList.remove("expand");
        element.classList.add("contract");
      } else {
        element.classList.remove("contract");
        element.classList.add("expand");
      }
    },

    expandContractWidget() {
      expandContractWidget("calendar", !this.calendarExpanded, this.$store);
    },
  },
  computed: {
    currentEntries() {
      return this.$store.getters.getCurrentEntries;
    },
    availableDates() {
      if (this.currentEntries) {
        return this.currentEntries.map((entry) => entry.date);
      } else {
        return null;
      }
    },

    calendarExpanded() {
      const calendarExpanded = this.$store.getters.getCalendarExpanded;
      console.log(`calendarExpanded getter: ${calendarExpanded}`);
      if (calendarExpanded) {
        tryExpanding("dateInput");
      } else {
        tryContracting("dateInput");
      }
      return this.$store.getters.getCalendarExpanded;
    },

    attrs() {
      let attributes = [
        {
          key: "today",
          highlight: {
            fillMode: "light",
          },
          dates: new Date(),
        },
      ];

      if (!this.currentEntries) {
        return attributes;
      } else {
        const additionalAttributes = this.currentEntries.map((entry) => ({
          dates: entry.date,
          popover: {
            label: entry.title,
          },
          customData: entry,
        }));
        return attributes.concat(additionalAttributes);
      }
    },
  },
  updated() {
    this.$store.dispatch("setSelectedEntryByDate", this.date);
  },
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

// only a class becayse of the vue.js bug
.iconAndInput {
  @include widgetStyle;
  &:hover {
    background: $hoverGray;
    #dateInput {
      background: $hoverGray;
    }
  }
}

#calendarIconContainer {
  cursor: pointer;
}

#calendarIcon {
  @include iconStyle;
  stroke: $gray-800;
}

#dateInput {
  @include widgetInput;
}

.expand {
  @include inputExpand(100px, 0 0 0 5px);
}

.contract {
  @include inputContract;
}
</style>
