<template>
  <div id="titleAndTranslation">
    <h2 id="entryTitle" class="text-center fw-bold p-0 m-0">
      {{ selectedEntryTitle }}
    </h2>
    <h5 id="entryTranslation" class="text-center text-black-50 p-0 m-0">
      {{ selectedEntryTranslation }}
    </h5>
  </div>
</template>

<script>
export default {
  name: "EntryTitle",
  computed: {
    selectedEntryTitle() {
      return this.$store.getters.getSelectedEntryTitle;
    },

    selectedEntryTranslation() {
      return this.$store.getters.getSelectedEntryTranslation;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./_variables.scss";

#titleAndTranslation {
  padding: 7vh 0px;
}
</style>
