<template>
  <div id="container">
    <div
      id="main"
      class="py-3 d-flex justify-content-between align-items-center container"
    >
      <h4 id="pageTitle" class="fw-bold">Object Writing Tool</h4>
      <div id="widgets" class="d-flex align-items-center">
        <Timer id="timer" />
        <Dates id="dates" />
        <SearchBar id="searchBar" />
      </div>
    </div>
  </div>
</template>

<script>
import Timer from "./Timer.vue";
import Dates from "./Dates.vue";
import SearchBar from "./SearchBar.vue";

export default {
  name: "Header",
  components: {
    Timer,
    Dates,
    SearchBar,
  },
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

#timer,
#dates,
#searchBar {
  margin: 0 10px;
}

#container {
  background: $white;
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
  #pageTitle {
    display: none;
  }
  #main {
    justify-content: center !important;
  }
}
</style>
