<template>
  <div id="iconAndText" class="d-flex flex-column align-items-center">
    <div id="spinner" class="spinner-border mb-3"></div>
    <div id="text">Loading data...</div>
  </div>
</template>

<script>
export default {
  name: "LoadingData",
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

#iconAndText {
  background: $gray-150;
}

#spinner,
#text {
  color: $gray-600;
}

#text {
  font-weight: bold;
}
</style>
