<template>
  <div id="iconsAndText" class="d-flex flex-column align-items-center">
    <div id="powerIcons">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="125.913"
        height="37"
        viewBox="0 0 125.913 37"
      >
        <g id="Icons" transform="translate(-896.12 -501)">
          <g id="outlet" transform="translate(896.12 501)">
            <path
              id="Path_3223"
              data-name="Path 3223"
              d="M7.689,4.162A4.615,4.615,0,0,1,11.3,2.5H35.426a4.625,4.625,0,0,1,3.613,1.662A27.333,27.333,0,0,1,45.228,21a27.342,27.342,0,0,1-6.189,16.838A4.62,4.62,0,0,1,35.426,39.5H11.3a4.615,4.615,0,0,1-3.613-1.662A27.342,27.342,0,0,1,1.5,21,27.342,27.342,0,0,1,7.689,4.162Zm3.613,1.7a1.265,1.265,0,0,0-1.006.424A23.985,23.985,0,0,0,4.864,21,23.994,23.994,0,0,0,10.3,35.713a1.273,1.273,0,0,0,1.009.424H35.423a1.273,1.273,0,0,0,1.009-.424A23.985,23.985,0,0,0,41.865,21,23.994,23.994,0,0,0,36.432,6.287a1.265,1.265,0,0,0-1.009-.424H11.305Z"
              transform="translate(-1.5 -2.5)"
              fill="#7e7e7e"
            />
            <path
              id="Path_3224"
              data-name="Path 3224"
              d="M7.182,5.5A1.682,1.682,0,0,1,8.864,7.182v5.045a1.682,1.682,0,0,1-3.364,0V7.182A1.682,1.682,0,0,1,7.182,5.5Zm13.455,0a1.682,1.682,0,0,1,1.682,1.682v5.045a1.682,1.682,0,0,1-3.364,0V7.182A1.682,1.682,0,0,1,20.637,5.5ZM10.546,20.636V24h6.727V20.636a3.364,3.364,0,0,0-6.727,0Z"
              transform="translate(7.955 4.59)"
              fill="#7e7e7e"
            />
          </g>
          <path
            id="plug"
            d="M13.455,0a1.682,1.682,0,0,1,1.682,1.682v8.409H25.227V1.682a1.682,1.682,0,1,1,3.364,0v8.409h3.364a1.682,1.682,0,0,1,1.682,1.682V21.864A11.773,11.773,0,0,1,21.864,33.637c-.007,1.46-.034,2.842-.135,4.1a14.414,14.414,0,0,1-1.066,4.79A7.007,7.007,0,0,1,17.4,45.989a12.338,12.338,0,0,1-5.627,1.1c-3.357,0-5.415,1.11-6.64,2.415a6.465,6.465,0,0,0-1.769,4.312H0A9.84,9.84,0,0,1,2.681,47.2c1.941-2.059,4.924-3.471,9.092-3.471a9.037,9.037,0,0,0,4.1-.737,3.653,3.653,0,0,0,1.729-1.85,11.126,11.126,0,0,0,.774-3.666c.091-1.144.118-2.415.124-3.838A11.773,11.773,0,0,1,6.727,21.864V11.773a1.682,1.682,0,0,1,1.682-1.682h3.364V1.682A1.682,1.682,0,0,1,13.455,0ZM10.091,13.455v8.409A8.409,8.409,0,0,0,18.5,30.273h3.364a8.409,8.409,0,0,0,8.409-8.409V13.455Z"
            transform="translate(968.213 538) rotate(-90)"
            fill="#7e7e7e"
          />
        </g>
      </svg>
    </div>
    <div id="text">
      <p>
        Sorry, the data could not be loaded. <br />
        There might be a problem with our server.
      </p>
      <p>Maybe refreshing the page may help?</p>
      <p></p>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoadingData",
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

#powerIcons {
  margin-bottom: 30px;
}

#text {
  color: $gray-600;
}

#text {
  text-align: center;
  font-weight: bold;
}
</style>
