<template>
  <div class="searchBarMain">
    <label id="iconAndInput" class="d-flex align-items-center">
      <div id="searchIconContainer" @click="hideIcon">
        <svg
          id="searchIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="25.707"
          height="25.707"
          viewBox="0 0 25.707 25.707"
        >
          <path
            id="SearchSymbol"
            d="M14.766,14.765,24,24ZM0,8.64a8.64,8.64,0,1,1,8.64,8.64A8.64,8.64,0,0,1,0,8.64Z"
            transform="translate(1 1)"
            fill="none"
            stroke="#444"
            stroke-width="2"
          />
        </svg>
      </div>

      <input
        id="searchInput"
        type="text"
        placeholder="Search Object"
        @input="filterSearchResults"
        @focusout="hideDropdown"
      />
      <ul v-if="this.searchResults.length !== 0" id="searchResultsDropdown">
        <li
          v-for="searchResult in this.searchResults.slice(
            0,
            this.maxSearchResults
          )"
          :key="searchResult._id"
          class="searchResult"
          @mousedown="setEntry"
        >
          {{ searchResult.title }}
        </li>
      </ul>
    </label>
  </div>
</template>

<script>
import {
  expandContractWidget,
  tryExpanding,
  tryContracting,
} from "./externalizedLogic";

export default {
  name: "SearchBar",
  data() {
    return {
      searchResults: [],
      maxSearchResults: 5,
    };
  },
  methods: {
    filterSearchResults(event) {
      const inputValue = event.target.value;
      const inputLength = inputValue.length;
      const searchItemsLength = this.searchItems.length;

      if (inputLength > searchItemsLength) return (this.searchResults = []);
      if (inputValue === "") return (this.searchResults = []);

      this.searchResults = this.searchItems.filter(
        (searchItem) =>
          searchItem.title.slice(0, inputLength).toLowerCase() ===
          inputValue.toLowerCase()
      );
    },
    setEntry(entry) {
      const selectedResult = entry.target.innerHTML.slice(1, -1); // by default there is one space before and after the title
      const index = this.searchItems.findIndex((searchItem) =>
        selectedResult.includes(searchItem.title)
      );

      if (index === -1)
        return console.error(
          "Could not match a searchItem.title with the selected result."
        );

      const _id = this.searchItems[index]._id;
      this.$store.dispatch("setSelectedEntryById", _id);
    },

    hideIcon() {
      const element = document.getElementById("searchInput");
      if (element.classList.contains("expand")) {
        element.classList.remove("expand");
        element.classList.add("contract");
      } else {
        element.classList.remove("contract");
        element.classList.add("expand");
      }
    },
    hideDropdown() {
      const dropdown = document.getElementById("searchResultsDropdown");

      if (!dropdown) return;

      if (!dropdown.classList.contains(".hideDropdown"))
        dropdown.classList.add("hideDropdown");
    },

    expandContractWidget() {
      expandContractWidget("searchBar", this.searchBarExtended);
    },
  },
  computed: {
    searchItems() {
      if (!this.$store.getters.getCurrentEntries) return;

      const idAndTitle = this.$store.getters.getCurrentEntries.map((entry) => ({
        _id: entry._id,
        title: entry.title,
      }));
      return idAndTitle;
    },

    searchBarExtended() {
      const searchBarExtended = this.$store.getters.getSearchBarExpanded;
      if (searchBarExtended) {
        tryExpanding();
      } else {
        tryContracting();
      }
      return searchBarExtended;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

#iconAndInput {
  position: relative;
  @include widgetStyle;
  &:hover {
    background: $hoverGray;
    #searchInput {
      background: $hoverGray;
    }
  }
}

#searchIconContainer {
  cursor: pointer;
}

#searchIcon {
  @include iconStyle;
}

#searchSymbol {
  stroke: $gray-800;
  stroke-width: 3px;
}

#searchInput {
  outline: none;
  @include widgetInput;
}

#searchResultsDropdown {
  padding: 0;
  @include widgetStyle;
  height: auto;
  display: block;
  position: absolute;
  list-style-type: none;
  width: 181px;
  top: 28px;
  left: 0px;
}

.searchResult {
  padding: 2px 5px;
  background: $white;
  cursor: pointer;
  border-radius: $border-radius-lg;
  &:hover {
    background: $hoverGray;
  }
}

.hideDropdown {
  visibility: hidden;
}

.expand {
  @include inputExpand(150px, 0 0 0 5px);
}

.contract {
  @include inputContract;
}
</style>
