<template>
  <div id="singleSenseEntry" class="pb-4">
    <h5 id="senseText" class="text-black-50 fw-bold">
      {{ currentEntry.sense }}
    </h5>
    <textarea
      id="textInput"
      class="form-control"
      name="test"
      cols="80"
      rows="3"
      placeholder="Write some magic..."
      :value="currentEntry.bodyText"
      v-on:input="
        updateSingleField({
          _id: currentEntry._id,
          bodyText: $event.target.value,
        })
      "
      spellcheck="false"
    ></textarea>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import "./scss/custom.scss";

export default {
  name: "SingleSenseEntry",
  props: {
    currentEntry: Object,
  },
  methods: {
    ...mapActions(["updateSingleField"]),
  },
};
</script>

<style lang="scss" scoped>
@import "./_variables.scss";
</style>
