<template>
  <div class="d-flex align-items-center main">
    <div id="timerContainer" class="">
      <div id="hourglassIconContainer" @click="hideIcon">
        <svg
          id="hourglassIcon"
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-hourglass-bottom"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"
          />
        </svg>
      </div>

      <span id="timer1" class="d-flex align-items-center">
        <input
          id="minutes"
          ref="minutes"
          type="text"
          min="0"
          max="59"
          @change="formatTimeInput($event)"
        />
        <span id="colon" ref="colon">:</span>
        <input
          id="seconds"
          ref="seconds"
          type="text"
          min="0"
          max="59"
          @change="formatTimeInput($event)"
        />
        <span id="controlButtons" class="d-flex align-items-center">
          <!-- startButton -->
          <svg
            id="startButton"
            ref="startButton"
            :width="`${svgBtnWidth}px`"
            :height="`${svgBtnHeight}px`"
          >
            <polygon
              class="svgButtons"
              @mousedown="startBtnEvent"
              :points="`${svgBtnWidth * 0.05},${svgBtnHeight * 0.05} ${
                svgBtnWidth * 0.05
              },${svgBtnHeight * 0.9} ${svgBtnWidth * 0.9},${
                svgBtnHeight * 0.5
              }`"
            />
          </svg>
          <!-- pauseButton -->
          <svg
            id="pauseButton"
            class="svgButtons"
            ref="pauseButton"
            :width="`${svgBtnWidth}px`"
            :height="`${svgBtnHeight}px`"
            @mousedown="pauseBtnEvent"
          >
            <rect width="30%" height="90%" x="5%" y="5%" rx="2" ry="2" />
            <rect
              :x="`${80 - 15}%`"
              y="5%"
              width="30%"
              height="90%"
              rx="2"
              ry="2"
            />
          </svg>
          <!-- stopButton -->
          <svg
            id="stopButton"
            ref="stopButton"
            :width="`${svgBtnWidth}px`"
            :height="`${svgBtnHeight}px`"
          >
            <rect
              class="svgButtons"
              @mousedown="stopBtnEvent"
              width="90%"
              height="90%"
              x="5%"
              y="5%"
              rx="2"
              ry="2"
            />
          </svg>
        </span>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Timer",
  data() {
    return {
      startMinutes: 10,
      startSeconds: 0,
      timerMillis: 0,
      lastTimerMillis: 0,
      timerState: false,
      svgBtnWidth: "15",
      svgBtnHeight: "15",
    };
  },
  methods: {
    formatTimeInput(e) {
      e.preventDefault();
      if (e.target.id === "minutes") {
        try {
          const intValue = parseInt(e.target.value);
          if (intValue > 59 || intValue < 0) {
            this.$refs.minutes.value = this.zeroPadding(this.startMinutes, 2);
            return;
          }
          this.$refs.minutes.value = this.zeroPadding(intValue, 2);
          this.startMinutes = this.zeroPadding(intValue, 2);
        } catch (err) {
          this.$refs.minutes.value = this.zeroPadding(this.startMinutes, 2);
        }
      } else if (e.target.id === "seconds") {
        try {
          const intValue = parseInt(e.target.value);
          if (intValue > 59 || intValue < 0) {
            this.$refs.seconds.value = this.zeroPadding(this.startSeconds, 2);
            return;
          }
          this.$refs.seconds.value = this.zeroPadding(intValue, 2);
          this.startSeconds = this.zeroPadding(intValue, 2);
        } catch (err) {
          this.$refs.seconds.value = this.zeroPadding(this.startSeconds, 2);
        }
      }
      this.timerMillis = this.hrsMinsSecsMillisToMillis([
        0,
        this.$refs.minutes.value,
        this.$refs.seconds.value,
        0,
      ]);
    },

    /**
     * Converts milliseconds to hours, minutes, seconds and milliseconds.
     * max. hours = 23, max. minutes = 59, max. seconds = 59, max. milliseconds = 99.
     * @param {Number} inputMillis Input in milliseconds.
     * @returns Array (Number) that holds hours, minutes, seconds, milliseconds in this order.
     */
    millisecondsToHrsMinsSecsMillis(inputMillis) {
      const milliSeconds = inputMillis % 1000;
      const seconds = Math.ceil(inputMillis / 1000) % 60;
      const oneSecMs = 1000; // without adding it timer at '10:00' will jump to '09:00' and then to '09:59'
      const minutes = Math.floor((inputMillis + oneSecMs) / (1000 * 60)) % 60;
      const hours = Math.floor(inputMillis / (1000 * 60 * 60)) % 24;
      return [hours, minutes, seconds, milliSeconds];
    },

    hrsMinsSecsMillisToMillis(timeArray) {
      if (timeArray.length !== 4)
        throw new Error(
          "There must be 4 entries in the timeArray: [hrs, mins, secs, millis]."
        );
      timeArray = timeArray.map((element) => {
        const intParse = parseInt(element);
        if (isNaN(intParse))
          throw new TypeError(
            "All entries of timeArray must be of type number or convertible to a number."
          );
        return intParse;
      });
      timeArray.forEach((element) => {
        if (element < 0)
          throw new Error(
            "All entries of timeArray must be greater or equal to 0."
          );
      });

      const hourMillis = timeArray[0] * 1000 * 60 * 60;
      const minutesMillis = timeArray[1] * 1000 * 60;
      const secondsMillis = timeArray[2] * 1000;
      const millis = timeArray[3];
      const resultMillis = hourMillis + minutesMillis + secondsMillis + millis;
      return resultMillis;
    },

    /**
     * Ensures that the output value has the right amount of digits.
     * Missing digits will be filled in with leading zeros.
     * @param {Number} inputValue
     * @param {Number} numberOfDigits Number of total digits of the number.
     * @returns String of the number.
     */
    zeroPadding(inputValue, numberOfDigits) {
      if (typeof inputValue !== "number")
        throw new TypeError("inputNumber must be a number.");
      if (typeof numberOfDigits !== "number")
        throw new TypeError("numberOfDigits must be a number.");
      if (numberOfDigits < 1)
        throw new RangeError("numberOfDigits must be at least 1.");

      const inputNumberLength = inputValue.toString().length;
      if (numberOfDigits < inputNumberLength)
        throw new RangeError(
          "numberOfDigits must be higher or equal to the amount of digits of inputNumber."
        );
      const digitsDifference = numberOfDigits - inputNumberLength;
      return "0".repeat(digitsDifference) + inputValue.toString();
    },

    /**
     * Makes the colons blink at the given interval.
     * @param {Number} inputMillis The current milliseconds on which the blinking depends.
     * @param {Number} changeMillis The interval of the blinking in milliseconds.
     */
    colonsBlink(inputMillis, changeMillis) {
      if (inputMillis == 0) {
        this.$refs.colon.classList.remove("colonInvisible");
      } else if (Math.floor(inputMillis / changeMillis) % 2 == 0) {
        if (!this.$refs.colon.classList.contains("colonInvisible")) {
          this.$refs.colon.classList.add("colonInvisible");
        }
      } else {
        if (this.$refs.colon.classList.contains("colonInvisible")) {
          this.$refs.colon.classList.remove("colonInvisible");
        }
      }
    },

    /**
     * Takes milliseconds and updates the hour, minute, second and millisecond display accordingly.
     * @param {Number} inputMillis
     */
    updateTimeDisplay(inputMillis) {
      const timeArray = this.millisecondsToHrsMinsSecsMillis(inputMillis);
      // const millisText = timeArray[3];
      const secondsText = this.zeroPadding(timeArray[2], 2);
      const minutesText = this.zeroPadding(timeArray[1], 2);
      // const hoursText = this.zeroPadding(timeArray[0], 2);

      this.$refs.seconds.value = secondsText;
      this.$refs.minutes.value = minutesText;

      this.colonsBlink(inputMillis, 500);
    },

    btnClickAnimation(btnRef) {
      if (!btnRef.classList.contains("toggleBtnAnimation")) {
        btnRef.classList.add("toggleBtnAnimation");
      } else {
        btnRef.classList.remove("toggleBtnAnimation");
        setTimeout(() => {
          btnRef.classList.add("toggleBtnAnimation");
        }, 10);
      }
    },

    /**
     * Starts the timer.
     */
    startBtnEvent() {
      if (!this.timerState) {
        this.timerState = true;
        this.lastTimerMillis = Date.now();
        if (!this.$refs.minutes.classList.contains("disableInput")) {
          this.$refs.minutes.classList.add("disableInput");
        }
        if (!this.$refs.seconds.classList.contains("disableInput")) {
          this.$refs.seconds.classList.add("disableInput");
        }
      }
      this.btnClickAnimation(this.$refs.startButton);
    },

    /**
     * Disables the timer.
     */
    pauseBtnEvent() {
      this.timerState = false;
      this.btnClickAnimation(this.$refs.pauseButton);
    },

    /**
     * Resets the timer.
     */
    stopBtnEvent() {
      this.timerState = false;
      this.timerMillis = this.hrsMinsSecsMillisToMillis([
        0,
        this.startMinutes,
        this.startSeconds,
        0,
      ]);
      this.updateTimeDisplay(this.timerMillis);
      if (this.$refs.minutes.classList.contains("disableInput")) {
        this.$refs.minutes.classList.remove("disableInput");
      }
      if (this.$refs.seconds.classList.contains("disableInput")) {
        this.$refs.seconds.classList.remove("disableInput");
      }
      if (this.$refs.colon.classList.contains("colonInvisible")) {
        this.$refs.colon.classList.remove("colonInvisible");
      }
      this.btnClickAnimation(this.$refs.stopButton);
    },

    hideIcon() {
      // toggleInputVisible("timerContainer", "120px");
      const element = document.getElementById("timer1");
      if (element.classList.contains("expand")) {
        element.classList.remove("expand");
        element.classList.add("contract");
      } else {
        element.classList.remove("contract");
        element.classList.add("expand");
      }
    },
  },
  mounted() {
    this.$refs.minutes.value = this.zeroPadding(this.startMinutes, 2);
    this.$refs.seconds.value = this.zeroPadding(this.startSeconds, 2);

    this.timerMillis = this.hrsMinsSecsMillisToMillis([
      0,
      this.$refs.minutes.value,
      this.$refs.seconds.value,
      0,
    ]);
    /**
     * At a given time interval the time passed is added to the totalTimerMillis.
     */
    setInterval(() => {
      if (this.timerState) {
        let timerMillisDifference = Date.now() - this.lastTimerMillis;
        this.lastTimerMillis = Date.now();
        this.timerMillis -= timerMillisDifference;
        if (this.timerMillis < 0) {
          this.updateTimeDisplay(0);
          this.timerState = false;
          return;
        }
        this.updateTimeDisplay(this.timerMillis);
      } else {
        // idle
      }
    }, 10);
  },
};
</script>

<style lang="scss" scoped>
@import "./scss/custom.scss";

// only a class becayse of the vue.js bug
.main {
  @include widgetStyle;
  &:hover {
    background: $hoverGray;
  }
}

#timerContainer {
  display: flex;
  align-items: center;
}

#timer1 {
  @include widgetInput;
}

.expand {
  @include inputExpand(130px, 0 0 0 5px);
}

.contract {
  @include inputContract;
}

#hourglassIconContainer {
  cursor: pointer;
}

#hourglassIcon {
  @include iconStyle;
  padding: 0;
  fill: $gray-800;
  stroke: $gray-800;
  stroke-width: 0.7px;
}

#controlButtons {
  margin: 0px 10px;
}

.svgButtons {
  margin: 0 3px;
  fill: $gray-100;
  stroke: $gray-800;
  stroke-width: 2px;
  &:hover {
    fill: $white;
  }
}

input {
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border-style: solid;
  border-color: $input-border-color;
  border-width: $input-border-width;
  & :hover {
    background: $gray-100;
  }
}

#colon {
  pointer-events: none;
  margin: 0px 5px;
}

button {
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  border: none;
  padding: 12px;
}

.colonInvisible {
  color: #00000000;
}

@keyframes buttonToggle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.toggleBtnAnimation {
  animation-name: buttonToggle;
  animation-duration: 0.2s;
}
</style>
