<template>
  <div id="currentEntry">
    <div id="titleAndTimer">
      <EntryTitle
        id="entryTitle"
        :title="title"
        :titleTranslation="titleTranslation"
      />
      <Timer id="timer" />
    </div>
    <div id="allDayEntries">
      <div v-for="entry in currentEntries" :key="entry">
        <SingleSenseEntry id="singleSenseEntry" :currentEntry="entry" />
      </div>
    </div>
  </div>
</template>

<script>
import EntryTitle from "./EntryTitle.vue";
import Timer from "./Timer.vue";
import SingleSenseEntry from "./SingleSenseEntry.vue";

export default {
  name: "CurrentDayEntries",
  props: {
    title: String,
    titleTranslation: String,
    currentEntries: Array,
  },
  components: {
    EntryTitle,
    Timer,
    SingleSenseEntry,
  },
};
</script>

<style>
#titleAndTimer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 0px 0px;
  top: 20vh;
}

#allDayEntries {
  margin: 30px 0px 10px 0px;
  max-height: 60vh;
  overflow-y: scroll;
}

#allDayEntries::-webkit-scrollbar {
  width: 10px;
}

#singleSenseEntry {
  margin: 30px 0px 30px 0px;
  width: 70vw;
  background: #ffffff;
  padding: 10px 15px 20px 20px;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px #33333323);
}
</style>
