<template>
  <div>
    <Calendar />
    <DatePicker v-model="date" />
  </div>
</template>

<script>
import { Calendar, DatePicker } from "v-calendar";

export default {
  name: "Dates",
  props: {},
  components: {
    Calendar,
    DatePicker,
  },
  data() {
    return {
      date: new Date(),
    };
  },
};
</script>

<style></style>
