<template>
<div id="entryTitle">
    <h1>{{ title }}</h1>
    <h3>{{ titleTranslation }}</h3>
</div>
</template>

<script>
export default {
    name: 'EntryTitle',
    props: {
        title: String,
        titleTranslation: String
    }
}
</script>

<style>
#entryTitle h1 {
    margin: 0px;
}

#entryTitle h3 {
    margin: 0px;
    padding: 0px 0px 0px 2px;
    color: #444444;
    font-size: 0.9em;
    font-weight: 500;
}
</style>