<template>
  <div id="main">
    <h1 id="pageTitle">{{ pageTitle }}</h1>
    <SearchBar id="searchBar" />
  </div>
</template>

<script>
import SearchBar from "./SearchBar.vue";

export default {
  name: "Header",
  props: {
    pageTitle: String,
    currentDate: String,
  },
  components: {
    SearchBar,
  },
};
</script>

<style>
#main {
  background: #ffffff;
  padding: 2vh 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pageTitle {
  margin: 0px;
  font-family: "SegoeUI-Semibold";
  font-size: 1em;
}

#dates {
  margin: 0px;
  font-family: "SegoeUI-Semibold";
  font-size: 0.9em;
}
</style>
