<template>
    <span id="searchBar">
        <img src="../assets/svgs/searchIcon.svg" alt="">
        <input type="text" placeholder="Search Object" size=25>
    </span>
</template>

<script>
export default {
    name: "SearchBar",
}
</script>

<style>
#searchBar {
    padding: 0px 5px;
    font-size: 0.55em;
    background: #ffffff;
    border-style: solid;
    border-color: #707070;
    border-width: 0.5px;
    border-radius: 7px;
}

#searchBar input{
    border-style: none;
    background: none;
}

#searchBar img {
    margin-bottom: -3px;
    margin-left: 2px;
    margin-right: 2px;
}

#searchBar input:focus{
    color: #5a5a5a;
    outline-style: none;
    border-width: 1px;
    border-radius: 5px;
}
</style>