<template>
<div id="singleSenseEntry">
    <!-- <div id="singleEntry" v-for="entry in currentEntries" :key="entry">
        <h2 id="senseText">{{ entry.sense }}</h2>
        <textarea id="textInput" name="test" cols="80" rows="3"
        placeholder="Write some magic..."
        :value=entry.bodyText
        spellcheck="false"></textarea>
    </div> -->
        <h2 id="senseText">{{ currentEntry.sense }}</h2>
        <textarea id="textInput" name="test" cols="80" rows="3"
        placeholder="Write some magic..."
        :value=currentEntry.bodyText
        spellcheck="false"></textarea>
</div>
</template>

<script>
export default {
    name: "SingleSenseEntry",
    props: {
        currentEntry: Object
    },
}
</script>

<style>
#senseText {
    margin: 0px 0px 10px 0px;
    font-family: "SegoeUI-Semibold";
    font-size: 1em;
    color: #444444;
}

#textInput {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 6px 9px 6px 9px;
    background: #f8f8f8;
    font-family: "SegoeUI-Regular";
    color: #444444;
    font-size: 1em;
    border-style: none;
    border-radius: 10px;
    resize: none;
}

#textInput:focus {
    outline: none;
}
</style>