<template>
    <div>
        <span>
            {{ timeString }}
            <button id="startButton"></button>
            <button id="pauseButton"></button>
            <button id="stopButton"></button>
        </span>
    </div>
</template>

<script>
export default {
    name: "Timer",
    data() {
        return {
            timeString: "09:37",
        }
    },
}
</script>

<style>
button {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    border: none;
}

#startButton {
    background-image: url(../assets/svgs/startIcon.svg);
}

#pauseButton {
    background-image: url(../assets/svgs/pauseIcon.svg);
}

#stopButton {
    background-image: url(../assets/svgs/stopIcon.svg);
}
</style>