<template>
  <div id="home">
    <Header
      pageTitle="Object Writing Tool"
      currentDate="11 12 13 14 15 MAY 2021"
    />
    <Dates />
    <CurrentDayEntries
      id="currentDayEntries"
      :title="currentEntryData.title"
      :titleTranslation="currentEntryData.translation"
      :currentEntries="currentEntryData.currentEntries"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Dates from "@/components/Dates.vue";
import CurrentDayEntries from "@/components/CurrentDayEntries.vue";

export default {
  name: "Home",
  components: {
    Header,
    Dates,
    CurrentDayEntries,
  },
  data() {
    return {
      currentEntryData: {
        title: "Lamppost",
        translation: "Laternenmast",
        date: "13th May 2021",
        currentEntries: [
          {
            id: 1,
            sense: "sight",
            bodyText:
              "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit dolor architecto commodi iusto ea porro quisquam nam delectus quam unde!",
          },
          {
            id: 2,
            sense: "hearing",
            bodyText:
              "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit dolor architecto commodi iusto ea porro quisquam nam delectus quam unde!",
          },
          {
            id: 3,
            sense: "smell",
            bodyText:
              "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit dolor architecto commodi iusto ea porro quisquam nam delectus quam unde!",
          },
          {
            id: 4,
            sense: "taste",
            bodyText:
              "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit dolor architecto commodi iusto ea porro quisquam nam delectus quam unde!",
          },
        ],
      },
    };
  },
};
</script>

<style>
#currentDayEntries {
  position: absolute;
  margin: 0px 0px 0vh 0px;
  padding: 5vh 0vw 0vh 0vw;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -2;
}
</style>
