@import "../../../node_modules/bootstrap/scss/functions";

// Fonts
$font-family-base: "SegoeUI";
// $font-size-base: 0.6rem;

// Colors
$gray-50: #fbfbfb;
$gray-150: #f3f3f3;

@import "../../../node_modules/bootstrap/scss/bootstrap";
// @import "../../../node_modules/bootstrap/scss/mixins";

$hoverGray: $gray-100;

@mixin widgetStyle {
  height: 30px;
  background: $white;
  border-style: solid;
  border-color: $gray-600;
  border-width: map-get($border-widths, 1);
  border-radius: $border-radius-lg;
}

@mixin iconStyle {
  margin: 5px;
  width: 20px;
}

@mixin widgetHideTransitionSettings {
  transition: width 0.4s ease-in-out;
}

@mixin widgetInput {
  visibility: hidden;
  margin: 0;
  width: 0px;
  padding: 0;
  border-style: none;
  transition: width 0.4s ease-in-out;
}

@mixin inputExpand($expandedWidth, $padding...) {
  padding: #{$padding} !important; //this makes css read the list properly to turn it into the appropriate padding
  visibility: visible !important;
  width: $expandedWidth !important;
  transition: width 0.2s ease-in-out, padding 0.2s ease-in-out,
    visibility 0.1s ease-in-out 0.2s !important;
}

@mixin inputContract {
  width: 0px;
  padding: 0;
  visibility: hidden;
  transition: width 0.2s ease-in-out 0.1s, padding 0.2s ease-in-out 0.1s,
    visibility 0.1s ease-in-out !important;
}
