<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link>
  </div> -->
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@font-face {
  font-family: "SegoeUI";
  src: url("./assets/fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUI";
  src: url("./assets/fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
html,
body {
  /* overflow: hidden; */
}

#app {
  height: 100vh;
}
</style>
