<template>
  <div id="home">
    <Header id="header" />
    <div id="bodyWrapper">
      <Body
        v-if="!serverReqFailed && serverReqFinished"
        id="bodyElement"
        class="container"
      />
      <div
        v-else-if="!serverReqFailed && !serverReqFinished"
        id="loadingDataContainer"
      >
        <LoadingData id="loadingData" />
      </div>
      <div
        v-else-if="serverReqFailed && serverReqFinished"
        id="loadingFailedContainer"
      >
        <LoadingFailed />
      </div>
    </div>
    <!-- <button id="copyToClipboard" @click="copyFieldsToClipboard">
      Copy to clipboard
    </button> -->
  </div>
</template>

<script>
import Vue from "vue";
import VueClipboard from "vue-clipboard2";

Vue.use(VueClipboard);

// @ is an alias to /src
import Header from "@/components/Header.vue";
import Body from "@/components/Body.vue";
import LoadingData from "@/components/LoadingData.vue";
import LoadingFailed from "@/components/LoadingFailed.vue";

export default {
  name: "Home",
  components: {
    Header,
    Body,
    LoadingData,
    LoadingFailed,
  },
  methods: {
    copyFieldsToClipboard() {
      const allFields = this.selectedEntry.fields.map((item) => item.bodyText);
      const allFieldsString = allFields.join("\n");
      this.$copyText(allFieldsString);
    },
  },
  computed: {
    serverReqFailed() {
      return this.$store.getters.getServerReqFailed;
    },

    serverReqFinished() {
      return this.$store.getters.getServerReqFinished;
    },
  },
  async mounted() {
    await this.$store.dispatch("fetchEntries");
  },
};
</script>

<style lang="scss" scoped>
@import "../components/scss/custom.scss";

#home {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: $gray-50;
}

#header {
  background: $white;
}

#bodyWrapper {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

#loadingDataContainer,
#loadingFailedContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
</style>
